@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

main {
 width: 50%;
 padding: 5px 30px 30px 30px;
 background-color: hsl(90, 100%, 50%);
 box-shadow: 8px 8px 4px rgb(0, 0, 0);
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}

h1 {
   text-align: center;
   font-family: "Comic Neue", cursive;

}

label {
 display: block;
 font-size: 16pt;

}

label::after{
    content: ":";
    font-weight: bold;
    font-size: 15pt;
}

button{
    transition: 0.2s;
  font-size: 14pt;
  padding: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;


}

button:hover{
    transition: 0.2s;
  background-color: #cac3c3;

}

button:active{
    border: solid 1px rgb(41, 39, 39);

}

input,select{
   font-size: 14pt;
    padding: 5px;
    border-radius: 10px;
    border: none;

}

small{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: crimson;
    font-style: italic;
}

ul{
  line-height: 30px;
  font-family: "Comic Neue", cursive;
  border: solid 1px black;
  width: 70%;
  border-radius: 10px;
  display: none;

}

#box-btn{
  
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;

}


@media (max-width: 600px) {
    main {
        
        width: 100%;
        position: relative;
        top: 0%;
        left: 0%;
        transform: none;
        box-shadow: none;
    
    }
    html {
      background-color: hsl(90, 100%, 50%);

    }
}